body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-family: "Copperplate", fantasy;, serif;
	font-size: 40px;
	padding: 5px;
	border: black 2px solid;
	background-color: green;
}

#items{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}

#money,#moneyusd,#currencies,button{
	margin-bottom: 10px;
}




#moneyusd {
	text-align: center;
}