.big_font{font-size: 24px}

.p {background-color: pink;
	font-family: Verdana, "DejaVu Sans", sans-serif;
}

#blue {font-size: 36px;
	color: blue;
}

.big_font{font-size: 24px}


#green {background-color: lightgreen;
	font-family: "Verdana", "DejaVu Sans", sans-serif;
	font-size: 24px;
	font-weight: bold}

.new_border {
	border-style: dotted;
	border-color: black;
	border-width: 3px;
}

.cool_font {
	font-family: 'Amatic SC';
	font-size: 40px;
	border-color: red;
}