#main-sections {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	height: 100vh;
}

#both-headers {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#main-header{
	border: black 3px solid;
}

#message-area{
	border: black 3px solid;
}

#player-and-dealer{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: stretch;
	gap: 10px;
	flex: 1;
}

#dealer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: black 3px solid;
	gap: 5px;
	align-items: stretch;
	flex: 1;
}

#player{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: black 3px solid;
	gap: 5px;
	align-items: stretch;
	flex: 2;
}

.player-header{
	display: flex;
	justify-content: center;
	border: black 3px solid;	
	margin: 10px;
}

#dealer-card-holder{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	border: black 3px solid;
	margin: 10px;
	flex: 1;
}

#cards-and-actions{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex: 1;
}

#player-card-holder{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	border: black 3px solid;
	margin: 10px;
	flex: 3;
}

#actions{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: black 3px solid;
	flex: 1;
	margin: 10px;
}

#action-button{
	border: black 3px solid;
	margin: 10px;
}

.card {
	width: 125px;
	height: 200px;
	background-color: darkgreen;
	border: black 3px solid;
	margin-top: 10px;
	margin-bottom: 20px;
}

.score-box{
	border: black 3px solid;
	margin: 10px;
	display: flex;
	justify-content: center;
}





