button{
	all: unset;
	border: none;
	background: none;
}

a{
	text-decoration: none !important;
	color: #10a79d !important;
	font-size: 20px;
	font-style: italic;
	font-family: Trebuchet MS, serif;
}

a:hover{
	color: #08524d !important;
}

.header{
	display: flex;
	flex-direction: row;
	background-color: #f7f7f7;
}

.header::after{
	flex: 1;
	content: '';
}

.header-logo{
	display: flex;
	flex: 1;
}

.logo{
	width: 175px;
	height: 150px;
	padding: 15px;
}

.header-buttons{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 100px;
}

#row1{
	display: flex;
	flex-direction: row;	
	justify-content: space-around;
}
	
#carouselExample{
	flex: 1;
	margin: 20px;
}

#intro{
	background-color: #f7f7f7;
	border: 2px solid black;
	flex: 1;
	margin: 20px;
}

#row2{
	display: flex;
	flex-direction: row;	
	justify-content: space-around;
}

#mainText{
	background-color: #f7f7f7;
	border: 2px solid black;
	flex: 1;
	margin: 20px;
}

.instagram{
	margin: 20px;
}

